@use '../login/login.component.scss' as *;

.forgot-password-container {
  @extend .login-container;
}

.forgot-password-card {
  @extend .login-card;
}

.forgot-password-header {
  @extend .login-header;
}

.forgot-password-form {
  @extend .login-form;
}

.forgot-password-footer {
  @extend .login-footer;
}

.alert-success {
  border-color: #2f855a;
  color: #9ae6b4;
  background-color: rgba(47, 133, 90, 0.15);
}
