<div
  class="activity-card"
  [class.compact]="compact()"
  [class]="getStatusClass()"
  (click)="onCardClick()"
>
  <div class="activity-header">
    <div class="activity-status">
      <ng-icon [name]="getStatusIcon()" size="16"></ng-icon>
    </div>
    <h4 class="activity-title">{{ activity().title }}</h4>
  </div>

  @if (!compact()) {
    <div class="activity-details">
      @if (activity().start) {
        <div class="detail-item">
          <ng-icon name="lucideClock" size="14"></ng-icon>
          <span>{{ formatTime(activity().start) }}</span>
          @if (activity().end) {
            <span> - {{ formatTime(activity().end) }}</span>
          }
        </div>
      }

      @if (activity().locationName) {
        <div class="detail-item">
          <ng-icon name="lucideMapPin" size="14"></ng-icon>
          <span>{{ activity().locationName }}</span>
        </div>
      }

      <div class="detail-item">
        <ng-icon name="lucideUsers" size="14"></ng-icon>
        <span>{{ getParticipantsSummary() }} partecipanti</span>
      </div>
    </div>
  } @else {
    <div class="activity-compact-info">
      <span class="time">{{ formatTime(activity().start) }}</span>
      <span class="participants">{{ getParticipantsSummary() }}</span>
    </div>
  }
</div>
